*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  // font-weight: 500;
}

body,
button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

.not-visible {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: calc(100% - 4rem);
  // margin-top: 10rem;
  -webkit-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);

  @include desktop {
    width: calc(100% - 21rem);
  }
}

.sticky + .page-content {
  margin-top: 110px;
  @include desktop {
    margin-top: 129px;
  }
}
