$phone-width: 375px;
$tablet-width: 786px;
$desktop-width: 1440px;

// @mixin phone {
//   @media (min-width: #{$phone-width}) and (max-width: #{$phone-width + 1px}) {
//     @content;
//   }
// }

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// @mixin desktop {
//   @media (min-width: #{$phone-width + 1}) {
//     @content;
//   }
// }

// $breakpoints: (
//   phone: 375px,
//   desktop: 1440px,
// ) !default;
